/* Estilos para el panel de encabezado del chatbot */
.chat-header {
    background-color: #2e517b; /* Color de fondo del encabezado */
    color: white; /* Color de texto del encabezado */
    padding: 5px 10px; /* Reducir el espaciado dentro del encabezado */
    border-top-left-radius: 8px; /* Redondeo de las esquinas superiores */
    border-top-right-radius: 8px;
    display: flex; /* Utiliza flexbox para alinear elementos */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    flex-direction: column; /* Organiza los elementos en columna */
    position: relative; /* Posicionamiento relativo para los elementos absolutos dentro */
}

/* Estilos para el contenedor del logotipo y texto */
.chat-logo-text {
    text-align: center; /* Centra el contenido del contenedor */
    color: white; /* Establece el color del texto a blanco */
    margin: 0; /* Elimina el margen para asegurar que se centre */
    display: block;
}

.chat-logo-text .main-text {
    font-size: 1em; /* Tamaño y opacidad original */
    opacity: 1;
    color: white;
}

.chat-logo-text .small-text {
    font-size: 0.7em; /* Tamaño más pequeño */
    opacity: 0.6; /* Más transparente */
    color: white;
    margin-top: 2px; /* Espacio pequeño entre el texto principal y el adicional */
    font-style: italic; /* Estilo cursiva */
}

  /* Estilos para el enlace dentro del texto del logotipo */
.chat-logo-text .small-text a {
    color: white;
    text-decoration: none; /* Sin subrayado */
}

  /* Cambiar el color del enlace al pasar el mouse */
.chat-logo-text .small-text a:hover {
    color: #ADD8E6; /* Cambia el color al pasar el mouse */
    opacity: 0.8; /* Un poco menos transparente al pasar el mouse */
}

/* Botón para minimizar el chatbot */
.minimize-chat-btn {
    background-color: white; /* Cambia el color de fondo a blanco */
    color: black; /* Cambia el color del texto/signo a negro */
    border: 2px solid black;
    border-radius: 50%; /* Mantiene la forma circular */
    cursor: pointer; /* Mantiene el cursor como una mano para indicar que es un botón */
    padding: 5px; /* Ajusta el espaciado interno según sea necesario */
    font-size: 16px; /* Ajusta el tamaño del texto/signo */
    width: 30px; /* Ajusta el ancho para un tamaño específico */
    height: 30px; /* Ajusta la altura para un tamaño específico */
    display: flex; /* Utiliza flexbox para centrar el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    margin-left: 10px; /* Agrega un margen izquierdo para mantener espacio entre el logo y el botón */
    order: 2; /* Asegura que el botón esté a la derecha con flexbox */
    position: absolute;
    right: 25px; /* Coloca el botón a la derecha del encabezado */
    top: 50%;
    transform: translateY(-50%); /* Centra el botón verticalmente */
}

/* Ajusta el estilo del botón de alternar cuando el chatbot está abierto */
.toggle-chat-btn {
    order: 3; /* Asegura que el botón esté a la izquierda con flexbox */
}

/* Estilos cuando el chatbot está abierto */
.chat-widget.open {
    opacity: 1;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

/* Estilos cuando el chatbot está minimizado */
.chat-widget.minimized {
    opacity: 1;
    transform: scale(0);
}

/* Añade estos estilos para el botón minimizado */
.minimized-icon {
    display: none; /* Inicialmente oculto */
    position: fixed;
    bottom: 60px;
    right: 0px;
    width: 120px; /* Ajusta el ancho de la imagen */
    height: 120px; /* Ajusta la altura de la imagen */
    cursor: pointer;
    z-index: 1010;
}

.chat-widget.minimized .minimized-icon {
    display: block; /* Se muestra cuando el chat está minimizado */
}

/* Estilos para la burbuja de mensaje */
.message-bubble {
    display: none; /* Inicialmente oculto */
    position: fixed;
    bottom: 160px; /* Ajusta la posición para estar por encima de la imagen */
    right: 20px; /* Ajusta la posición para estar a la derecha de la imagen */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1020; /* Asegúrate de que esté por encima de la imagen */
}

/* Estilos para la ventana de chat y el botón de alternancia */
.chat-widget {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 400px;
    height: 550px; /* Altura fija del widget de chat */
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    transform: scale(1); /* El widget es visible */
}

/* Botón para abrir/cerrar el chatbot */
.toggle-chat-btn {
    background-color: #2e517b;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: -50px;
    right: 0;
}

/* Contenedor principal del chat */
.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    background-color: white;
    padding-top: 0px;
    padding-bottom: 70px; /* Espacio para la barra de entrada de mensajes */
}

/* Caja donde se muestran los mensajes */
#chatBox {
    overflow-y: auto; /* Habilita la barra de desplazamiento */
    flex-grow: 1;
    padding: 10px;
    margin-bottom: 0px;
}

/* Panel para mostrar las opciones de respuesta */
#optionsPanel {
    padding: 10px;
    border-top: 1px solid #dee2e6;
    overflow-y: auto; /* Permite desplazamiento si hay más opciones de las que pueden caber en el espacio visible */
    margin-bottom: 60px; /* Espacio para la barra de entrada de mensajes */
}

/* Mensajes del usuario y del bot */
.message {
    padding: 5px 10px;
    border-radius: 16px;
    margin-bottom: 8px;
    max-width: 80%;
}

.user-message {
    background-color: #2e517b;
    color: white;
    align-self: flex-end;
    margin-left: 150px;
    margin-right: 10px; /* Espacio a la derecha del mensaje */
    max-width: calc(100% - 60px);
}

.bot-message {
    background-color: #f8f9fa;
    align-self: flex-start;
    margin-left: 10px;
}

/* Botón de enviar ajustado con el nuevo color */
.btn-primary {
    background-color: #000000; /* Color de fondo del botón */
    border-color: #000000; /* Color del borde del botón */
}

/* Cambiar a azul cuando el mouse esté sobre el botón */
.btn-primary:hover {
    background-color: #2e517b; /* Cambia a color azul */
    border-color: #2e517b; /* Cambia el borde a color azul también */
}

/* Botones de las opciones */
.option-button {
    background-color: #fff;
    color: #2e517b;
    border: 1px solid #2e517b;
    padding: 10px 15px; /* Aumentar el padding para mejor visualización */
    margin: 5px 10px 5px 0; /* Margen superior e inferior de 5px y margen derecho de 10px */
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: block; /* Hace que cada botón sea un bloque y ocupe su propia fila */
    width: calc(100% - 20px); /* Ajusta el ancho al 100% menos los márgenes laterales */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total */
}

    .option-button:hover {
        background-color: #2e517b;
        color: white;
    }

/* Para que el widget se 'expanda' cuando esté abierto */
.chat-widget.open {
    transform: scale(1);
}

.input-group {
    width: calc(100% - 20px); /* Ajusta el ancho al padding del chatBox */
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 10px; /* Alinea con el padding del chatBox */
}

/* Para tablets y dispositivos más grandes, pero menores que una pantalla de escritorio */
@media (max-width: 768px) {
    .chat-widget {
        width: 80vw; /* 80% del ancho de la ventana */
        height: 80vh; /* 80% del alto de la ventana */
        bottom: 10%; /* Centrado vertical */
        right: 10%; /* Centrado horizontal */
        transform: translate(-10%, -10%); /* Ajuste para centrar */
    }
}

/* Para dispositivos móviles en orientación retrato */
@media (max-width: 480px) and (orientation: portrait) {
    .chat-widget {
        width: 80vw; /* 80% del ancho de la ventana */
        height: 80vh; /* 80% del alto de la ventana */
        bottom: 10%; /* Centrado vertical */
        right: 10%; /* Centrado horizontal */
        transform: translate(-10%, -10%); /* Ajuste para centrar */
    }
}

/* Para dispositivos móviles en orientación paisaje */
@media (max-width: 480px) and (orientation: landscape) {
    .chat-widget {
        width: 80vw; /* 80% del ancho de la ventana */
        height: 80vh; /* 80% del alto de la ventana */
        bottom: 10%; /* Centrado vertical */
        right: 10%; /* Centrado horizontal */
        transform: translate(-10%, -10%); /* Ajuste para centrar */
    }
}

/* Nueva media query para dispositivos móviles en orientación paisaje con ancho entre 481px y un límite superior, por ejemplo, 1024px */
@media (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) {
    .chat-widget {
        width: 80vw; /* 80% del ancho de la ventana */
        height: 80vh; /* 80% del alto de la ventana */
        bottom: 10%; /* Centrado vertical */
        right: 10%; /* Centrado horizontal */
        transform: translate(-10%, -10%); /* Ajuste para centrar */
    }
}